*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*.log
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
ERD.pdf
data/*/*.xml
data/*/*.txt
*.sql
/config/trade_tariff_backend_secrets.yml
*.sql.bz2
db/schema.rb
spec/coverage
.rbenv-version
/spec/reports
