# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*

# Local tariff files
data/*/*.xml
data/*/*.txt

# Environment files
.env

# Cloud Foundry manifest files
tariff-backend-dev_manifest.yml
tariff-backend-staging_manifest.yml
tariff-backend-production_manifest.yml
tariff-backend-worker-dev_manifest.yml
tariff-backend-worker-staging_manifest.yml
tariff-backend-worker-production_manifest.yml

# Other files
config/trade_tariff_backend_secrets.yml
*.DS_Store
/coverage/*
