# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
.byebug_history

# Local tariff files
data/*/*
data/failed-measures-report*

# Environment files
.env
.env.*.local

# Cloud Foundry manifest files
*_manifest.yml
cf-ssh.yml

# Other files
config/trade_tariff_backend_secrets.yml
*.DS_Store
/coverage/*
.idea/*
REVISION
searches_without_match_or_synonym.csv

# RVM
.ruby-gemset
