<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h1>TradeTariff API</h1>
    </div>
    <div class="span6">
      <h2>Documentation</h2>

      <h3>Base URL</h3>

      <p>API URLs referenced in this documentation start with the following base part:</p>

      <pre>https://www.preview.alphagov.co.uk/tariff-api [TODO UPDATE THIS]</pre>

      <h3>Search</h3>

      <pre>GET /search</pre>

      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>q</code></td>
            <td>Search paramater</td>
          </tr>
          <tr>
            <td><code>page</code></td>
            <td>Page of results (default 25 per page)</td>
          </tr>
        </tbody>
      </table>




      <h3>Sections</h3>

      <h3>Chapters</h3>

      <h3>Headings</h3>

      <h3>Commodities</h3>


    </div>
  </div>
</div>

