<p>Hello,</p>

<p>
  There are failed updates for Trade Tariff that cannot be applied.
</p>

<strong>File names:</strong>

<ul>
  <% @file_names.each do |file_name| %>
    <li><%= file_name %></li>
  <% end %>
</ul>
