<p>Hello,</p>

<p>
  Tried to apply update at <%= @path %> but the file was not found. Trying to redownload.
</p>

<strong>Possible causes:</strong>

<ul>
  <li><strong>data</strong> directory was not symlinked on deploy.</li>
</ul>
