/*
 *= require 'prettify'
*/
@import "bootstrap";

aside{
  display: block;
  width: 200px;
  padding: 10px;
  border-right: 1px solid silver;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
